html * {
  font-family: 'Slabo 27px', serif;
}

.hero-full-screen {
    height: 100vh;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-direction: column;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    background: url("https://images.pexels.com/photos/888899/pexels-photo-888899.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940") center center no-repeat;
    background-size: cover;
  }
  
  .hero-full-screen .middle-content-section {
    text-align: center;
    color: #fefefe;
  }
  
  .hero-full-screen .top-content-section {
    width: 100%;
  }
  
  .hero-full-screen .bottom-content-section {
    padding: 1rem;
  }
  
  .hero-full-screen .bottom-content-section svg {
    height: 3.75rem;
    width: 3.75rem;
    fill: #fefefe;
  }
  
  .hero-full-screen .top-bar {
    background: rgba(255, 255, 255, 0.5);
  }
  
  .hero-full-screen .top-bar .menu {
    background: transparent;
  }
  
  .hero-full-screen .top-bar .menu-text {
    color: #fefefe;
  }
  
  .hero-full-screen .top-bar .menu li {
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-align-items: center;
        -ms-flex-align: center;
            align-items: center;
  }
  
  .hero-full-screen .top-bar .menu a {
    color: #292929;
    font-weight: bold;
  }

  /* Body Text Area */
  
  .story-img {
    margin-bottom: 2rem; 
    display: block; 
    margin-left: auto; 
    margin-right: auto; 
    width: 80%;
    text-align: center;
  }

  .story-imgclone {
    /* background-color: red; */
    width: 100%;
    height: 500px;
    margin-bottom: 2rem;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  

/*Start profile card:1*/
.card {
  position: absolute;
  margin-top: 697.5px;
  margin-left: 5px;
  height: 500px;
  width: 350px;
  border-radius: 10px;
  top: 10px;
  background-color: oldlace;
}
.face {
  position: absolute;
  top: 10%;
  left: 30%;
  height: 100px;
  width: 80px;
  border-radius: 200px;
  background-color: rgb(121, 70, 25);
}
 .hair{
  position: absolute;
  left: 1%;
  height: 30px;
  width: 78px;
  border-top-left-radius: 100px;
  border-top-right-radius: 100px;
  
  background-color: rgb(0, 0, 0);
}
.hair-side{
  position: absolute;
  top: 26%;
  left: 1%;
  height: 30px;
  width: 3.5px;
  border-top-left-radius: 10px;
  background-color: rgb(0, 0, 0);
}
.hair-side-right{
  position: absolute;
  top: 26%;
  left: 96%;
  height: 30px;
  width: 3.5px;
  border-top-right-radius: 10px;
  background-color: rgb(0, 0, 0);
}
.eye {
  position: absolute;
  top: 50%;
  left: 19%;
  height: 10px;
  width: 10px;
  border-radius: 200px;
  background-color: black;
}
.eye2 {
  position: absolute;
  top: 50%;
  left: 70%;
  height: 10px;
  width: 10px;
  border-radius: 200px;
  background-color: black;
}
.g-frame{
  position: absolute;
  top: -40%;
  left: -100%;
  height: 20px;
  width: 30px;
  border-radius: 5px;
  background-color: rgba(199, 213, 240, 0.5);
}
.g-frame2{
  position: absolute;
  top: -40%;
  left: -100%;
  height: 20px;
  width: 30px;
  border-radius: 5px;
  background-color: rgba(199, 213, 240, 0.5);
}
.frame{
  position: absolute;
  top: 53%;
  left: 43.5%;
  height: 4px;
  width: 11px;
  background-color: black;
}
.beard{
  position: absolute;
  top: 73%;
  left: 23%;
  height: 40px;
  width: 45px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: rgb(0, 0, 0);
}
.mouth{
  position: absolute;
  top: 20%;
  left: 15%;
  height: 15px;
  width: 30px;
  border-radius: 5px;
  background-color: rgb(121, 70, 25);
}
.smile{
  position: absolute;
  top: 10%;
  left: 18%;
  height: 10px;
  width: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: white;
}
.neck{
  position: absolute;
  top: 55%;
  left: 41.5%;
  height: 40px;
  width: 35px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: rgb(121, 70, 25);
}
.body{
  position: absolute;
  top: 65%;
  left: 13%;
  height: 160px;
  width: 150px;
  -webkit-clip-path: polygon(0 0, 100% 0, 77% 100%, 21% 100%);
  clip-path: polygon(0 0, 100% 0, 77% 100%, 21% 100%);
  border-radius: 200px;
  background-color: rgb(18, 67, 18)
}
.profile{
  position: absolute;
  top: 10%;
  left: 20%;
  height: 200px;
  width: 200px;
  border-radius: 100px;
  background-color: dimgrey;
  overflow: hidden;
}
.profile-name{
  position: absolute;
  top: 50%;
  left: 12%;
  font-family: 'Slabo 27px', serif;
}
.profile-info{
  position: absolute;
  top: 65%;
  left: 7%;
  height: 150px;
  width: 300px;
  border-radius: 10px;
  background-color: lightgrey;
}
.line{
  position: absolute;
  top: 30%;
  left: 8%;
  height: 3px;
  width: 250px;
  background-color: black;
}
.line2{
  position: absolute;
  top: 50%;
  left: 8%;
  height: 3px;
  width: 250px;
  background-color: black;
}
.line3{
  position: absolute;
  top: 70%;
  left: 8%;
  height: 3px;
  width: 250px;
  background-color: black;
}
/*Start profile card:2*/
.card2 {
  position: absolute;
  margin-top: 697.5px;
  margin-left: 725px;
  height: 500px;
  width: 350px;
  border-radius: 10px;
  top: 10px;
  background-color: oldlace;
}
.face2 {
  position: absolute;
  top: 15%;
  left: 30%;
  height: 100px;
  width: 80px;
  border-radius: 200px;
  background-color: rgb(170, 114, 64);
}
 .hair2{
  position: absolute;
  transform: rotate(-20deg);
  left: 0%;
  height: 30px;
  width: 50px;
  border-top-left-radius: 100px;
  border-bottom-right-radius: 100px;
  background-color: rgb(0, 0, 0);
}
.hair-side2{
  position: absolute;
  transform: rotate(-10deg);
  top: 9%;
  left: 40%;
  height: 30px;
  width: 50px;
  /* border-top-left-radius: 70px; */
  border-top-right-radius: 50px;
  border-bottom-left-radius: 100px;
  border-bottom-right-radius: 100px;
  background-color: rgb(0, 0, 0);
}
.hair-top{
  position: absolute;
  transform: rotate(-40deg);
  top: -30px;
  left: 23%;
  height: 50px;
  width: 50px;
  border-radius: 20px;
  background-color: rgb(0, 0, 0);
}
.hair-back{
  position: absolute;
  top: 15%;
  left: 25%;
  height: 90px;
  width: 100px;
  border-top-left-radius: 150px;
  border-top-right-radius: 150px;
  border-bottom-left-radius: 200px;
  border-bottom-right-radius: 200px;
  background-color: rgb(0, 0, 0);
}
.eye-2 {
  position: absolute;
  top: 50%;
  left: 19%;
  height: 10px;
  width: 10px;
  border-radius: 200px;
  background-color: black;
}
.eye2-2 {
  position: absolute;
  top: 50%;
  left: 70%;
  height: 10px;
  width: 10px;
  border-radius: 200px;
  background-color: black;
}
.g-frame-2{
  position: absolute;
  top: -40%;
  left: -100%;
  height: 20px;
  width: 30px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 10px;
  background-color: rgba(199, 213, 240, 0.5);
}
.g-frame2-2{
  position: absolute;
  top: -40%;
  left: -100%;
  height: 20px;
  width: 30px;
  border-top-left-radius: 20px;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 20px;
  background-color: rgba(199, 213, 240, 0.5);
}
.frame2{
  position: absolute;
  top: 53%;
  left: 43.5%;
  height: 4px;
  width: 11px;
  background-color: black;
}
.smile2{
  position: absolute;
  top: 80%;
  left: 37%;
  height: 10px;
  width: 20px;
  border-top-style: solid;
  border-top-width: thin;
  border-top-color: red;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: white;
}
.neck2{
  position: absolute;
  top: 55%;
  left: 41.5%;
  height: 40px;
  width: 35px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  background-color: rgb(170, 114, 64);
}
.body2{
  position: absolute;
  top: 65%;
  left: 13%;
  height: 160px;
  width: 150px;
  -webkit-clip-path: polygon(0 0, 100% 0, 77% 100%, 21% 100%);
  clip-path: polygon(0 0, 100% 0, 77% 100%, 21% 100%);
  border-radius: 200px;
  background-color: rgb(89, 17, 99)
}
.profile2{
  position: absolute;
  top: 10%;
  left: 20%;
  height: 200px;
  width: 200px;
  border-radius: 100px;
  background-color: dimgrey;
  overflow: hidden;
}
.profile-name2{
  position: absolute;
  top: 50%;
  left: 15%;
  font-family: 'Slabo 27px', serif;
}
.profile-info2{
  position: absolute;
  top: 65%;
  left: 7%;
  height: 150px;
  width: 300px;
  border-radius: 10px;
  background-color: lightgrey;
}
.line-2{
  position: absolute;
  top: 30%;
  left: 8%;
  height: 3px;
  width: 250px;
  background-color: black;
}
.line2-2{
  position: absolute;
  top: 50%;
  left: 8%;
  height: 3px;
  width: 250px;
  background-color: black;
}
.line3-2{
  position: absolute;
  top: 70%;
  left: 8%;
  height: 3px;
  width: 250px;
  background-color: black;
}
/*Start "Matched" animation*/
.connection{
  position: absolute;
  top: 140%;
  left: 0.89%;
  height: 100px;
  width: 100%;
}
#heart {
  position: absolute;
  top: 20%;
  left: 46%;
  width: 100px;
  height: 90px;
  animation: heartbeat 1s infinite;
}
#heart:before,
#heart:after {
  position: absolute;
  content: "";
  left: 50px;
  top: 0;
  width: 50px;
  height: 80px;
  background: red;
  -moz-border-radius: 50px 50px 0 0;
  border-radius: 50px 50px 0 0;
  -webkit-transform: rotate(-45deg);
     -moz-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
       -o-transform: rotate(-45deg);
          transform: rotate(-45deg);
  -webkit-transform-origin: 0 100%;
     -moz-transform-origin: 0 100%;
      -ms-transform-origin: 0 100%;
       -o-transform-origin: 0 100%;
          transform-origin: 0 100%;
}
#heart:after {
  left: 0;
  -webkit-transform: rotate(45deg);
     -moz-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
       -o-transform: rotate(45deg);
          transform: rotate(45deg);
  -webkit-transform-origin: 100% 100%;
     -moz-transform-origin: 100% 100%;
      -ms-transform-origin: 100% 100%;
       -o-transform-origin: 100% 100%;
          transform-origin :100% 100%;
}
/* Animation for a simple heartbeat */
@keyframes heartbeat
{
  0%
  {
    transform: scale( .75 );
  }
  20%
  {
    transform: scale( 1 );
  }
  40%
  {
    transform: scale( .75 );
  }
  60%
  {
    transform: scale( 1 );
  }
  80%
  {
    transform: scale( .75 );
  }
  100%
  {
    transform: scale( .75 );
  }
}



.dots{
  position: absolute;
  top: 50%;
  left: 43%;
  height: 15px;
  width: 15px;
  border-radius: 200px;
  background-color: black;
}
.dots2{
  position: absolute;
  top: 50%;
  left: 38.5%;
  height: 15px;
  width: 15px;
  border-radius: 200px;
  background-color: black;
}
#triangle-left {
  position: absolute;
  top: 49.5%;
  left: 33.5%;
    width: 0;
    height: 0;
    border-top: 12.5px solid transparent;
    border-right: 25px solid black;
    border-bottom: 12.5px solid transparent;
}

.dots4{
  position: absolute;
  top: 50%;
  left: 54%;
  height: 15px;
  width: 15px;
  border-radius: 200px;
  background-color: black;
}
.dots5{
  position: absolute;
  top: 50%;
  left: 58.5%;
  height: 15px;
  width: 15px;
  border-radius: 200px;
  background-color: black;
}
#triangle-right {
  position: absolute;
  top: 49.5%;
  left: 63%;
    width: 0px;
    height: 0px;
    border-top: 12.5px solid transparent;
    border-left: 25px solid black;
    border-bottom: 12.5px solid transparent;
}

.match{
  position: absolute;
  top: 90%;
  left: 37.5%;
  font-family: 'Slabo 27px', serif;
  font-size: 30px;
}