@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');
* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  -ms-overflow-style: none;
  overflow: -moz-scrollbars-none;
}
html::-webkit-scrollbar { width: 0 !important }

body {
  font-family: 'Roboto Condensed', sans-serif;
  margin: 0;
  background: #eee;
  height: auto;
}

p,ul,li,h5 {
  text-align: left;
}

h1 {
  font-weight: 400;
  font-size: 2.5rem;
  text-transform: uppercase;
  margin: 0;
}

h2 {
  font-weight: 400;
  font-size: 1.2rem;
  text-transform: capitalize;
  margin: 0;
}

a {
  font-weight: 200;
  font-size: 0.8rem;
  text-transform: capitalize;
  margin: 0;
}

img {
  display: block;
  width: 100%;
}

#spacer {
  border-bottom: dotted 3px #fff;
  width: 100%;
}

#mini-spacer {
  border-bottom: dotted 1px #fff;
  width: 100%;
}

#button-moved {
  text-align: right;
  width: 100%;
  padding: 0;
}

button {
  padding: 0.5rem 1rem;
  border: 1px transparent solid;
  display: inline-block;
  margin: 2rem 0 0;
  border-radius: 2px;
  text-decoration: none;
  transition: background 500ms ease;
}

button:hover {
  background: royalblue;
}

main {
  /* max-width: 1400px; */
  margin: auto;
  box-shadow: 30px 0px 40px rgba(0, 0, 0, 0.1),
  -30px 0px 40px rgba(0, 0, 0, 0.1);
}

#landing {
  background: #fff;
}

#landing-text {
  display: flex;
  flex: 0 1 40vw;
  height: 23vh;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-right: 1em;
  padding-left: 1em;
}

#landing-text h2 {
  color: #888;
}

#landing-image {
  background-image: url("../img/AlexisAlonzo-11.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 77vh;
  flex: 0 1 60vw;
  margin: 0;
}

#landing-info {
  background: #fff;
}

#landing-info-text {
  display: flex;
  flex: 0 1 40vw;
  height: 20vh;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-right: 1em;
  padding-left: 1em;
}

nav a {
  color: #333;
  /* text-align: center; */
  text-decoration: none;
  padding-right: 5px;
  margin: 0;
}

#landing-info-text h2 {
  color: #888;
}

#landing-info-image {
  background-image: url("../img/AlexisAlonzo-39.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 80vh;
  flex: 0 1 60vw;
  margin: 0;
}

.btn {
  padding: 0.5rem 2rem;
  border: 1px #ccc solid;
  display: inline-block;
  margin: 2rem 0 0;
  border-radius: 50px;
  text-decoration: none;
  color: #333;
  transition: background 500ms ease;
}

.btn:hover {
  background: #f4f4f4;
}

#info {
  padding: 1.5rem;
  text-align: center;
  background: linear-gradient(rgb(233, 154, 9), rgb(83, 4, 83));
  color: #fff;
}

#info a {
  text-decoration: none;
  color: #fff;
}

#info a:hover {
  border-bottom: dotted 1px royalblue;
  color: royalblue;
}

#info-text {
  display: flex;
  flex: 0 1 40vw;
  height: 60vh;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-right: 1em;
  padding-left: 1em;
}

#info-text h2 {
  border-left: dotted 1px #fff;
  border-right: dotted 1px #fff;
  display: inline-block;
  padding-left: 1rem;
  padding-right: 1rem;
}

#info-video {
  text-align: center;
  height: 40vh;
  flex: 0 1 60vw;
  margin: 0 auto;
}

/* Position the image container (needed to position the left and right arrows) */
.container {
  position: relative;
}

/* Hide the images by default */
.mySlides {
  display: none;
}

/* Add a pointer when hovering over the thumbnail images */
.cursor {
  cursor: pointer;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  position: absolute;
  top: 40%;
  width: auto;
  padding: 16px;
  margin-top: -50px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.8);
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* Container for image text */
.caption-container {
  text-align: center;
  background-color: #222;
  padding: 2px 16px;
  color: white;
}

.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Six columns side by side */
.column {
  float: left;
  width: 16.66%;
}

/* Add a transparency effect for thumnbail images */
.demo {
  opacity: 0.6;
}

.active,
.demo:hover {
  opacity: 1;
}


/* Screen Sizes 600px and Up 
@media (min-width: 600px) {
  #landing {
    display: flex;
    height: 100%;
  }

  #landing-text {
    height: 100vh;
  }

  #landing-image {
    height: 100vh;
  }
}

/* Screen Sizes 700px and Up 
@media (min-width: 700px) {
  .btn {
    padding: 1rem 3rem;
  }
}*/